

 <% @posts.each do |post| %>
<div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <section class="about section">
                    <div class="section-inner">
                   

                        <h2 class="heading"><%= link_to post.title, post_path(post) %></h2>
                        <div class="content">
                  <p><%= post.body %></p><br /> <br />
                       </div>
                  <h4><%= link_to 'Show', post %></h4>
                  <h4><%= link_to 'Edit', edit_post_path(post) %></h4>
                  <h4<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></h4>
      
                        
                    </div>                
                </section>
                </div>
                </div>
</div>
<% end %>
<br>

<!-- <!-- # <%= link_to '', new_post_path %> --> -->

